/* First Bootstrap Project 12/20/2025

CSS Style page
fileName: styles.css
Author: Stephanie DeMola

/* font-family: "Chewy", system-ui; */

html, body {
	height: 100%;
	line-height: 4;
	font-size: 30px;
}

header.hero-section {
	background-image: url("images/bubble_hero.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 10em 0;
}

header.hero-section h1 {
	font-family: "Chewy", system-ui;
	font-size: 5em;
	color: white;
	text-shadow: black 2px 1px 3px;
}

header.hero-section p {
	color: white;
	font-size: 1.5em;
	text-shadow: black 2px 1px 3px;
	font-family: "Arial Black", sans-serif;
}

header.hero-section a, section.cta-section a {
	font-size: 1.2em;
	background: linear-gradient(limegreen, darkmagenta);
	color: white;
	border-color: white;
	border-width: 10px;
}

header.hero-section a:hover, section.cta-section a:hover {
	font-size: 1.2em;
	background-color: limegreen;
	color: black;
	border-color: black;
}

section {
	padding-top: 2em;
	padding-bottom: 3em;
}

section#features h2 {
	margin-bottom: 1.5em;

}

h2.text-center {
	font-size: 80px;
	font-family: "Chewy", system-ui;
}

div.row {
	width: 60em;
}


div.card img {
	height: 260px;
}

div.card-body img {
	line-height: 1;

}

div.card-body {
	height: 20em;
	font-size: 0.8em;
	font-family: "tahoma", system-ui;
	background-image: radial-gradient(limegreen, white);
}

section.cta-section {
	background-color: rgb(25, 25, 25);
	color: greenyellow;
	font-family: "tahoma", system-ui;
}

footer {
	color: white;
	background-image: linear-gradient(limegreen, darkmagenta);
	font-size: 1em;
}